{{- $self := . -}}
{{- if .Params.particles -}}
  {{- .page_scratch.Add "js" (dict "file" "syna-hero.js") -}}
{{- end -}}

{{- if .Params.typed -}}
  <script src="/js/typed.min.js"></script>
{{- end -}}

{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Hero -->" | safeHTML }}
<header id="{{ .Name }}" class="fragment hero">
  {{- if .Params.header }}
    <div
      style="
        {{- with .Params.minHeight -}}
          {{- (printf "min-height: %s;" .) | safeCSS -}}
        {{- end -}}
        background-image:url({{ partial "helpers/image.html" (dict "root" $self "asset" .Params.header) }})"
      class="jumbotron text-center header-image mb-0
        {{- printf " bg-%s" $bg -}}
      ">
  {{- else }}
    <div style="
        {{- with .Params.minHeight -}}
          {{- (printf "min-height: %s;" .) | safeCSS -}}
        {{- end -}}
      "class="jumbotron text-center mb-0
      {{- printf " bg-%s" $bg -}}
    ">
  {{- end }}
  {{- if .Params.particles }}
    <div id="{{ printf "%s-particles-js" .Name }}" class="hero-particles particles-js"></div>
  {{- end -}}
  {{- if .Params.asset -}}
    {{- with .Params.asset }}
      <div class="hero-image-container row justify-content-center align-items-start">
        <img
          class="hero-image overlay img-fluid"
          src="{{ partial "helpers/image.html" (dict "root" $self "asset" .) }}"
          alt="
            {{- if .text -}}
              {{- print .text -}}
            {{- else if $.Params.title_page -}}
              {{- print $.root.Title -}}
            {{- else -}}
              {{- print $.Params.title -}}
            {{- end -}}
          "
          {{- if .height }} height="{{ .height }}"{{- end -}}
          {{- if .width }} width="{{ .width }}"{{- end -}}
        ></img>
      </div>
    {{- end }}
    {{- with .Params.subtitle }}
      <div class="hero-subtitle-container row justify-content-center align-items-start">
        <h1 class="hero-subtitle overlay jumbotron-heading my-4
          {{- partial "helpers/text-color.html" (dict "self" $self.self) -}}
        ">
          {{- . | markdownify -}}
        </h1>
      </div>
    {{- end -}}
  {{- else }}
    {{- if .Params.title_page }}
      <div class="hero-page-title-container row justify-content-center align-items-start">
        <h1 class="hero-page-title overlay jumbotron-heading
          {{- partial "helpers/text-color.html" (dict "self" $self.self) -}}
        ">
          {{ $.root.Title }}
        </h1>
      </div>
    {{- else -}}
      {{- with .Params.title }}
        <div class="hero-title-container row justify-content-center align-items-start">
          <h1 class="hero-title overlay jumbotron-heading titulo 
            {{- partial "helpers/text-color.html" (dict "self" $self.self "dark" "primary" ) -}}
          ">
            {{- . -}}
          </h1>
        </div>
      {{- end -}}
    {{- end -}}
    {{- if .Params.typed }}
   
    <div class="h3 text-center letrastyped"><span id="typed" class="text-secondary frases"></span></div>
    
    {{- else }}
   <div class="hero-subtitle-container row justify-content-center align-items-start">
        <div class="hero-subtitle overlay lead
          {{- partial "helpers/text-color.html" (dict "self" $self.self "light" "red" ) -}}
        ">
          {{- . | markdownify -}}
        </div>
      </div>
    {{- end -}}
  {{- end -}}
 
  </div>
</header>
<script>
  var fragmentName = "{{ .Name }}";
  {{- $file_path := printf "%s%s/config.json" .page.File.Dir .Name -}}
  window.syna.api.register("hero", "hero-" + fragmentName, {
    selector: "{{ printf "%s-particles-js" .Name }}",
    config: {{ if fileExists $file_path -}} JSON.parse({{ readFile $file_path | safeHTML }}) {{- else -}} null {{- end -}},
  });
  </script>
  
  <script>
  document.addEventListener("DOMContentLoaded", function() {
  {{ $dataFrases := getJSON .Params.frases_url }} 
  var frases = [{{ range $index, $frase := $dataFrases }} "{{$frase}}",{{end}}] ;
  var options = {
    strings: frases,
    typeSpeed: 120,
    loop: true,
    stringsElement: null
  };
  setTimeout(function espera() {
  var typed = new Typed('.frases', options);
  }, 500);
  });

</script>